#
NWCHEM/**/*.db
NWCHEM/**/*.p
NWCHEM/**/*.zmat
NWCHEM/**/*.movecs
NWCHEM/**/*.b
NWCHEM/**/*.b^-1
NWCHEM/**/*.c
NWCHEM/**/*.cfock
NWCHEM/**/*.drv.hess
NWCHEM/**/*.mp2nos
NWCHEM/**/*.gridpts.*

!ORCA/**/*.inp
!ORCA/**/*.out
!ORCA/**/*.trj
!ORCA/**/*.engrad
!ORCA/**/*.hess
!ORCA/*.dat
!ORCA/*.py
!ORCA/*.sh

