!NWCHEM/**/*.nw
!NWCHEM/**/*.nwo
!NWCHEM/**/*.xyz
!NWCHEM/**/*.hess
!NWCHEM/*.dat
!NWCHEM/*.py
!NWCHEM/*.sh

!ORCA/**/*.inp
!ORCA/**/*.out
!ORCA/**/*.trj
!ORCA/**/*.engrad
!ORCA/**/*.hess
!ORCA/*.dat
!ORCA/*.py
!ORCA/*.sh
